<!DOCTYPE html>
<html lang="it">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css" integrity="sha512-+4zCK9k+qNFUR5X+cKL9EIR+ZOhtIloNl9GIKS57V1MyNsYpYcUrUeQc9vNfzsWfV28IaLL3i96P9sdNyeRssA==" crossorigin="anonymous" />
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;600&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="assets/css/style.css">
    <title>TomFlix</title>
  </head>
  <body>

    <div id="app">

      <!-- Inizio Header -->
      <header>
        <div class="navbar d-flex">
          <!-- Logo e menu della navbar -->
          <div class="logo_and_menu d-flex">
            <a href="">
              <img src="assets/img/logo.png" alt="" id="logo">
            </a>
            <ul class="white d-flex align-center">
              <li><a href="" class="white">home</a></li>
              <li><a href="" class="white">serie TV</a></li>
              <li><a href="" class="white">film</a></li>
              <li><a href="" class="white">nuovi e popolari</a></li>
              <li><a href="" class="white">la mia lista</a></li>
            </ul>
          </div>

          <!-- Form con la barra di ricerca -->
          <div class="right_navbar d-flex align-center">
              <input type="text" name="" value="" placeholder="Titolo di Film o Serie Tv" v-model="keyWord" @keyup.13="search(keyWord)">
              <a href=""><i class="fas fa-gift" class="white"></i></a>
              <a href=""><i class="fas fa-bell" class="white"></i></a>
              <a href=""><img src="assets/img/avatar.jpg" alt=""></a>
              <a href=""><i class="fas fa-sort-down"></i></a>
          </div>

        </div>
      </header>
      <!-- Fine Header -->

      <!-- Inizio Main -->
      <main>

        <!-- Parte film -->
        <h2 class="white" v-if="movies.length !=0">FILM</h2>

        <div class="d-flex align-center justify-space-between">
          <!-- Freccia sinistra -->
          <div class="white arrow-left" v-if="movies.length > 4">
            <i class="fas fa-chevron-left"></i>
          </div>

          <div v-if="movies.length !=0" class="container_poster_carousel">
            <div class="poster_carousel film">
              <div class="card" v-for="movie in movies">

                  <!-- Stampa dei poster/avviso di non presenza del poster a schermo -->
                  <div class="poster">
                    <img v-if="movie.poster_path != null" :src="'https://image.tmdb.org/t/p/w500' + movie.poster_path" alt="" class="preview" >
                    <div v-if="movie.poster_path == null" class="white no_poster_path d-flex" class="preview">
                      <p>{{movie.title}}</p>
                    </div>
                  </div>
                  <!-- /Stampa dei poster -->

                  <!-- Informazioni sui film -->
                  <div class="movie_infos">
                    <h3 class="white">{{movie.title}}</h3>
                    <p class="white">{{movie.original_title}}</p>
                    <div class="white">Lingua originale:
                      <span class="original_lang">{{movie.original_language}}</span>
                      <img :src="'https://www.countryflags.io/' + flagsCode(movie.original_language) + '/flat/16.png'" alt="">
                    </div>

                    <!-- Parte riguardante il voto medio -->
                    <div class="white" v-if="movie.vote_average !=0">
                      <span>Voto medio: {{movie.vote_average}}/10</span>
                      <i class="fas fa-star" v-for="stars in stars(movie.vote_average)">
                      </i><i class="far fa-star" v-for="stars in 5-stars(movie.vote_average)" class="stelle_vuote"></i>
                    </div>

                    <div class="white" v-if="movie.vote_average == 0">
                      <span>Voto medio: NON DISPONIBILE</span>
                    </div>
                    <!-- /Parte rigurdante il voto medio -->
                  </div>
                  <!-- Fine informazioni sui film  -->

              </div>
            </div>
          </div>
          <!-- Freccia destra -->
          <div class="white arrow-right" v-if="movies.length > 4">
            <i class="fas fa-chevron-right"></i>
          </div>

        </div>

        <!-- Parte serie tv -->
        <h2 class="white" v-if="tvSeries.length !=0">SERIE TV</h2>
        <div class="d-flex align-center justify-space-between">
          <!-- Freccia sinistra -->
          <div class="white arrow-left mb-40" v-if="tvSeries.length > 4">
            <i class="fas fa-chevron-left"></i>
          </div>

          <div v-if="tvSeries.length != 0" class="container_poster_carousel">
            <div class="poster_carousel serietv mb-40">
              <div class="card" v-for="serie in tvSeries">

                  <!-- Stampa dei poster/avviso di non presenza del poster a schermo -->
                  <div class="poster">
                    <img v-if="serie.poster_path != null" :src="'https://image.tmdb.org/t/p/w500' + serie.poster_path" alt="" class="preview" >
                    <div v-if="serie.poster_path == null" class="white no_poster_path d-flex" class="preview">
                      <p>{{serie.name}}</p>
                    </div>
                  </div>
                  <!-- /Stampa dei poster -->

                  <!-- Informazioni sui film -->
                  <div class="movie_infos">
                    <h3 class="white">{{serie.name}}</h3>
                    <p class="white">{{serie.original_name}}</p>
                    <div class="white">Lingua originale:
                      <span class="original_lang">{{serie.original_language}}</span>
                      <img :src="'https://www.countryflags.io/' + flagsCode(serie.original_language) + '/flat/16.png'" alt="">
                    </div>

                    <!-- Parte riguardante il voto medio -->
                    <div class="white" v-if="serie.vote_average !=0">
                      <span>Voto medio: {{serie.vote_average}}/10</span>
                      <i class="fas fa-star" v-for="stars in stars(serie.vote_average)">
                      </i><i class="far fa-star" v-for="stars in 5-stars(serie.vote_average)" class="stelle_vuote"></i>
                    </div>

                    <div class="white" v-if="serie.vote_average == 0">
                      <span>Voto medio: NON DISPONIBILE</span>
                    </div>
                    <!-- /Parte rigurdante il voto medio -->
                  </div>
                  <!-- Fine informazioni sulle serie tv  -->

              </div>
            </div>
          </div>

          <!-- Freccia destra -->
          <div class="white arrow-right mb-40" v-if="tvSeries.length > 4">
            <i class="fas fa-chevron-right"></i>
          </div>

        </div>
      </main>
      <!-- Fine main -->

    </div>

  <!-- Script Axios -->
  <script src="https://unpkg.com/axios/dist/axios.min.js"></script>

  <!-- Script vueJS -->
  <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>

  <!-- Script Javascript -->
  <script type="text/javascript" src="assets/js/main.js"></script>

  </body>
</html>
