*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

body{
  min-height: 100vh;
  background: rgb(6,6,6);
  background: linear-gradient(180deg, rgba(6,6,6,1) 0%, rgba(20,20,20,1) 100%);
  background-repeat: no-repeat;
}
/********* Elimino la scrollbar sul body per tutti i browser ***********/

/* Chrome, Safari e Opera */
body::-webkit-scrollbar {
  display: none;
}

/* IE, Edge e Firefox */
body {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}
/**********************************************************************/

/* Commons */

.container{
  width: 1140px;
  margin: auto;
}

.d-flex{
  display: flex;
}

li{
  list-style: none;
}

a{
  text-decoration: none;
}

/* Utility classes */

.align-center{
  align-items: center;
}

.justify-space-around{
  justify-content: space-between;
}

.red{
  color: red;
}

.white{
  color: white;
}

.mb-40{
  margin-bottom: 40px;
}

/* Header */
header{
  height: 80px;
}

header .container{
  height: 100%;
  width: 100vw;
  justify-content: space-around;
  align-items: center;
}

header .navbar{
  height: 100%;
  justify-content: space-between;
  align-items: center;
  width: 95vw;
  margin: auto;
}

header #logo{
  width: 110px;
  margin-top: 6px;
}

.navbar ul{
  margin-left: 35px;
}

.navbar ul a{
  margin-right: 15px;
  text-transform: capitalize;
  font-size: 13px;
}

.navbar ul a:hover{
  color: #a8a8a8;
}

.navbar ul a:focus{
  font-weight: 500;
  color: white;
}

.navbar .right_navbar input{
  background-color: rgba(0, 0, 0, 0);
  border: 0;
  width: 30px;
  color: rgba(0, 0, 0, 0);
  background-image: url("../img/searchicon.svg");
  background-repeat: no-repeat;
  cursor: pointer;
  transition: all 0.5s ease;
  margin-right: 10px;
}

.navbar .right_navbar input::placeholder {
    color: transparent;
}

.navbar .right_navbar input:focus::placeholder {
    color: grey;
}

.navbar .right_navbar input:focus{
  background-color: black;
  border: 1px solid white;
  width: 240px;
  height: 30px;
  color: white;
  background-image: url("../img/searchicon.svg");
  background-repeat: no-repeat;
  background-size: 8%;
  background-position: 2%, 50%;
  padding-left: 31px;
  cursor: auto;
  margin-right: 25px;
}

.navbar .right_navbar img{
  width: 30px;
  border-radius: 4px;
}

.navbar .right_navbar a{
  color: white;
}

.navbar .right_navbar a:not(last-child){
    margin-right: 25px;
}

/* Main */
main h2{
  margin-top: 50px;
  margin-left: 5vw;
  margin-bottom: 20px;
}

main .arrow-left{
  font-size: 30px;
}

main .arrow-right{
  font-size: 30px;
}

main .arrow-right , main .arrow-left{
  width: 5vw;
  height: 350px;
  position: relative;
  cursor: pointer;
}

main .arrow-right i , main .arrow-left i{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50% , -50%);
}

main .arrow-right:hover , main .arrow-left:hover{
  background-color: rgba(255,255,255,0.07);
  border-radius: 7px;
}

main .poster_carousel .card{
  display: inline-block;
  width: 230px;
  height: 350px;
  background-color: black;
  margin-bottom: 50px;
  cursor: pointer;
  position: relative;
  margin-right: 20px;
}

main .card h3 , .card p{
  text-align: center;
  margin-bottom: 10px;
}

main .poster{
  position: relative;
  width: 230px;
  height: 350px;
  z-index: 2;
  display: inline-block;
}

main .container_poster_carousel{
  overflow-x: auto;
  max-width: 90vw;
  margin: auto;
}

/****** Elimino la scrollbar sui poster per tutti i browser *******/

/* Chrome, Safari e Opera */
main .container_poster_carousel::-webkit-scrollbar{
  display: none;
}

/* IE, Edge e Firefox */
main .container_poster_carousel {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}
/******************************************************************/

main .poster_carousel{
  width: max-content;
  height: 350px;
}

main .poster img{
  width: 100%;
  height: 100%;
  transition: all 0.4s ease;
}

main .poster .no_poster_path{
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  align-items: center;
  justify-content: center;
  background: black;
  border: 1px solid white;
  font-size: 25px;
  text-transform: uppercase;
  transition: all 0.5s ease;
}

main .movie_infos{
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: black;
  z-index: 1;
}

main .movie_infos i{
  margin-left: 1px;
  margin-right: 1px;
}

main .movie_infos .original_lang{
  text-transform: uppercase;
}

/* Imposto che in hover i poster(o le path sostitutive nel caso in cui i poster non ci siano) si opacizzino lasciano spazio alle movie_infos */

main .poster:hover img{
  opacity: 0.05;
}

main .poster:hover .no_poster_path{
 opacity: 0;
}
